tr
  td <strong>él</strong> (#{t('pronouns.el.nom')})
  td <strong>lo</strong> (#{t('pronouns.el.acc')})
  td <strong>le</strong> (#{t('pronouns.el.dat')})
  td <strong>sí mismo</strong> (#{t('pronouns.el.ref')})
  td <strong>su</strong> (#{t('pronouns.el.adj')})
  td <strong>(el) suyo / (la) tuya</strong> (#{t('pronouns.el.nou')})
  td <strong>para él</strong> (#{t('pronouns.el.acnt')})

