tr
  td <strong>él</strong> (#{t('exercises.hints.2.pronouns.el.nom', hint: true)})
  td <strong>lo</strong> (#{t('exercises.hints.2.pronouns.el.acc', hint: true)})
  td <strong>le</strong> (#{t('exercises.hints.2.pronouns.el.dat', hint: true)})
  td <strong>sí mismo</strong> (#{t('exercises.hints.2.pronouns.el.ref', hint: true)})
  td <strong>su</strong> (#{t('exercises.hints.2.pronouns.el.adj', hint: true)})
  td <strong>(el) suyo / (la) tuya</strong> (#{t('exercises.hints.2.pronouns.el.nou', hint: true)})
  td <strong>para él</strong> (#{t('exercises.hints.2.pronouns.el.acnt', hint: true)})

