tr
  td <strong>yo</strong> (#{t('exercises.hints.2.pronouns.yo.nom', hint: true)})
  td <strong>me</strong> (#{t('exercises.hints.2.pronouns.yo.acc', hint: true)})
  td <strong>me</strong> (#{t('exercises.hints.2.pronouns.yo.dat', hint: true)})
  td <strong>yo mismo</strong> (#{t('exercises.hints.2.pronouns.yo.ref', hint: true)})
  td <strong>mi</strong> (#{t('exercises.hints.2.pronouns.yo.adj', hint: true)})
  td <strong>(el) mío / (la) mía</strong> (#{t('exercises.hints.2.pronouns.yo.nou', hint: true)})
  td <strong>para mí</strong> (#{t('exercises.hints.2.pronouns.yo.acnt', hint: true)})

