tr
  td <strong>yo</strong> (#{t('pronouns.yo.nom')})
  td <strong>me</strong> (#{t('pronouns.yo.acc')})
  td <strong>me</strong> (#{t('pronouns.yo.dat')})
  td <strong>yo mismo</strong> (#{t('pronouns.yo.ref')})
  td <strong>mi</strong> (#{t('pronouns.yo.adj')})
  td <strong>(el) mío / (la) mía</strong> (#{t('pronouns.yo.nou')})
  td <strong>para mí</strong> (#{t('pronouns.yo.acnt')})

