tr
  td <strong>ella</strong> (#{t('pronouns.ella.nom')})
  td <strong>la</strong> (#{t('pronouns.ella.acc')})
  td <strong>le</strong> (#{t('pronouns.ella.dat')})
  td <strong>ella misma</strong> (#{t('pronouns.ella.ref')})
  td <strong>su</strong> (#{t('pronouns.ella.adj')})
  td <strong>(la) suya</strong> (#{t('pronouns.ella.nou')})
  td <strong>para ella</strong> (#{t('pronouns.ella.acnt')})

