tr
  td <strong>ella</strong> (#{t('exercises.hints.2.pronouns.ella.nom', hint: true)})
  td <strong>la</strong> (#{t('exercises.hints.2.pronouns.ella.acc', hint: true)})
  td <strong>le</strong> (#{t('exercises.hints.2.pronouns.ella.dat', hint: true)})
  td <strong>ella misma</strong> (#{t('exercises.hints.2.pronouns.ella.ref', hint: true)})
  td <strong>su</strong> (#{t('exercises.hints.2.pronouns.ella.adj', hint: true)})
  td <strong>(la) suya</strong> (#{t('exercises.hints.2.pronouns.ella.nou', hint: true)})
  td <strong>para ella</strong> (#{t('exercises.hints.2.pronouns.ella.acnt', hint: true)})

