tr
  td <strong>ellos / ellas</strong> (#{t('pronouns.ellos.nom')})
  td <strong>los / las</strong> (#{t('pronouns.ellos.acc')})
  td <strong>les</strong> (#{t('pronouns.ellos.dat')})
  td <strong>ellos mismo / ellas mismo</strong> (#{t('pronouns.ellos.ref')})
  td <strong>su</strong> (#{t('pronouns.ellos.adj')})
  td <strong>(el) suyo / (la) suya</strong> (#{t('pronouns.ellos.nou')})
  td <strong>para ellos / para ellas</strong> (#{t('pronouns.ellos.acnt')})

