tr
  td <strong>ellos / ellas</strong> (#{t('pronouns.ellos.nom', hint: true)})
  td <strong>los / las</strong> (#{t('pronouns.ellos.acc', hint: true)})
  td <strong>les</strong> (#{t('pronouns.ellos.dat', hint: true)})
  td <strong>ellos mismo / ellas mismo</strong> (#{t('pronouns.ellos.ref', hint: true)})
  td <strong>su</strong> (#{t('pronouns.ellos.adj', hint: true)})
  td <strong>(el) suyo / (la) suya</strong> (#{t('pronouns.ellos.nou', hint: true)})
  td <strong>para ellos / para ellas</strong> (#{t('pronouns.ellos.acnt', hint: true)})

