tr
  td <strong>tú</strong> (#{t('pronouns.tu.nom', hint: true)})
  td <strong>te</strong> (#{t('pronouns.tu.acc', hint: true)})
  td <strong>te</strong> (#{t('pronouns.tu.dat', hint: true)})
  td <strong>tú mismo</strong> (#{t('pronouns.tu.ref', hint: true)})
  td <strong>tu</strong> (#{t('pronouns.tu.adj', hint: true)})
  td <strong>(el) tuyo / (la) tuya</strong> (#{t('pronouns.tu.nou', hint: true)})
  td <strong>para ti</strong> (#{t('pronouns.tu.acnt', hint: true)})

