tr
  td <strong>tú</strong> (#{t('pronouns.tu.nom')})
  td <strong>te</strong> (#{t('pronouns.tu.acc')})
  td <strong>te</strong> (#{t('pronouns.tu.dat')})
  td <strong>tú mismo</strong> (#{t('pronouns.tu.ref')})
  td <strong>tu</strong> (#{t('pronouns.tu.adj')})
  td <strong>(el) tuyo / (la) tuya</strong> (#{t('pronouns.tu.nou')})
  td <strong>para ti</strong> (#{t('pronouns.tu.acnt')})

