tr
  td <strong>Usted</strong> (#{t('pronouns.usted.nom')})
  td <strong>lo</strong> (#{t('pronouns.usted.acc')})
  td <strong>le</strong> (#{t('pronouns.usted.dat')})
  td <strong>Usted mismo</strong> (#{t('pronouns.usted.ref')})
  td <strong>suyo</strong> (#{t('pronouns.usted.adj')})
  td <strong>suya</strong> (#{t('pronouns.usted.nou')})
  td <strong>para Usted</strong> (#{t('pronouns.usted.acnt')})

