tr
  td <strong>vosotros / vosotras</strong> (#{t('pronouns.vosotros.nom')})
  td <strong>os</strong> (#{t('pronouns.vosotros.acc')})
  td <strong>os</strong> (#{t('pronouns.vosotros.dat')})
  td <strong>vosotros mismos</strong> (#{t('pronouns.vosotros.ref')})
  td <strong>vuestro / vuestra</strong> (#{t('pronouns.vosotros.adj')})
  td <strong>(el) vuestro / (la) vuestra</strong> (#{t('pronouns.vosotros.nou')})
  td <strong>para vosotros / para vosotras</strong> (#{t('pronouns.vosotros.acnt')})

