tr
  td <strong>vosotros / vosotras</strong> (#{t('pronouns.vosotros.nom', hint: true)})
  td <strong>os</strong> (#{t('pronouns.vosotros.acc', hint: true)})
  td <strong>os</strong> (#{t('pronouns.vosotros.dat', hint: true)})
  td <strong>vosotros mismos</strong> (#{t('pronouns.vosotros.ref', hint: true)})
  td <strong>vuestro / vuestra</strong> (#{t('pronouns.vosotros.adj', hint: true)})
  td <strong>(el) vuestro / (la) vuestra</strong> (#{t('pronouns.vosotros.nou', hint: true)})
  td <strong>para vosotros / para vosotras</strong> (#{t('pronouns.vosotros.acnt', hint: true)})

