tr
  td <strong>nosotros / nosotras</strong> (#{t('pronouns.nosotros.nom')})
  td <strong>nos</strong> (#{t('pronouns.nosotros.acc')})
  td <strong>nos</strong> (#{t('pronouns.nosotros.dat')})
  td <strong>nosotros mismos</strong> (#{t('pronouns.nosotros.ref')})
  td <strong>nuestro / nuestra</strong> (#{t('pronouns.nosotros.adj')})
  td <strong>(el) nuestro / (la) nuestra</strong> (#{t('pronouns.nosotros.nou')})
  td <strong>para nosotros / para nosotras</strong> (#{t('pronouns.nosotros.acnt')})

