tr
  td <strong>nosotros / nosotras</strong> (#{t('exercises.hints.2.pronouns.nosotros.nom', hint: true)})
  td <strong>nos</strong> (#{t('exercises.hints.2.pronouns.nosotros.acc', hint: true)})
  td <strong>nos</strong> (#{t('exercises.hints.2.pronouns.nosotros.dat', hint: true)})
  td <strong>nosotros mismos</strong> (#{t('exercises.hints.2.pronouns.nosotros.ref', hint: true)})
  td <strong>nuestro / nuestra</strong> (#{t('exercises.hints.2.pronouns.nosotros.adj', hint: true)})
  td <strong>(el) nuestro / (la) nuestra</strong> (#{t('exercises.hints.2.pronouns.nosotros.nou', hint: true)})
  td <strong>para nosotros / para nosotras</strong> (#{t('exercises.hints.2.pronouns.nosotros.acnt', hint: true)})

