tr
  td <strong>Usted</strong> (#{t('exercises.hints.2.pronouns.usted.nom', hint: true)})
  td <strong>lo</strong> (#{t('exercises.hints.2.pronouns.usted.acc', hint: true)})
  td <strong>le</strong> (#{t('exercises.hints.2.pronouns.usted.dat', hint: true)})
  td <strong>Usted mismo</strong> (#{t('exercises.hints.2.pronouns.usted.ref', hint: true)})
  td <strong>suyo</strong> (#{t('exercises.hints.2.pronouns.usted.adj', hint: true)})
  td <strong>suya</strong> (#{t('exercises.hints.2.pronouns.usted.nou', hint: true)})
  td <strong>para Usted</strong> (#{t('exercises.hints.2.pronouns.usted.acnt', hint: true)})

