tr
  td <strong>he</strong> (#{t('pronouns.el.nom')})
  td <strong>him</strong> (#{t('pronouns.el.acc')})
  td <strong>him</strong> (#{t('pronouns.el.dat')})
  td <strong>himself</strong> (#{t('pronouns.el.ref')})
  td <strong>his</strong> (#{t('pronouns.el.adj')})

