tr
  td <strong>he</strong> (#{t('exercises.hints.2.pronouns.el.nom', hint: true)})
  td <strong>him</strong> (#{t('exercises.hints.2.pronouns.el.acc', hint: true)})
  td <strong>him</strong> (#{t('exercises.hints.2.pronouns.el.dat', hint: true)})
  td <strong>himself</strong> (#{t('exercises.hints.2.pronouns.el.ref', hint: true)})
  td <strong>his</strong> (#{t('exercises.hints.2.pronouns.el.adj', hint: true)})

