tr
  td <strong>I</strong> (#{t('pronouns.yo.nom')})
  td <strong>me</strong> (#{t('pronouns.yo.acc')})
  td <strong>me</strong> (#{t('pronouns.yo.dat')})
  td <strong>myself</strong> (#{t('pronouns.yo.ref')})
  td <strong>my</strong> (#{t('pronouns.yo.adj')})

