tr
  td <strong>I</strong> (#{t('pronouns.yo.nom', hint: true)})
  td <strong>me</strong> (#{t('pronouns.yo.acc', hint: true)})
  td <strong>me</strong> (#{t('pronouns.yo.dat', hint: true)})
  td <strong>myself</strong> (#{t('pronouns.yo.ref', hint: true)})
  td <strong>my</strong> (#{t('pronouns.yo.adj', hint: true)})

