tr
  td <strong>it</strong> (#{t('pronouns.ello.nom', hint: true)})
  td <strong>it</strong> (#{t('pronouns.ello.acc', hint: true)})
  td <strong>it</strong> (#{t('pronouns.ello.dat', hint: true)})
  td <strong>itself</strong> (#{t('pronouns.ello.ref', hint: true)})
  td <strong>its</strong> (#{t('pronouns.ello.adj', hint: true)})

