tr
  td <strong>she</strong> (#{t('pronouns.ella.nom')})
  td <strong>her</strong> (#{t('pronouns.ella.acc')})
  td <strong>her</strong> (#{t('pronouns.ella.dat')})
  td <strong>herself</strong> (#{t('pronouns.ella.ref')})
  td <strong>hers</strong> (#{t('pronouns.ella.adj')})

