tr
  td <strong>she</strong> (#{t('pronouns.ella.nom', hint: true)})
  td <strong>her</strong> (#{t('pronouns.ella.acc', hint: true)})
  td <strong>her</strong> (#{t('pronouns.ella.dat', hint: true)})
  td <strong>herself</strong> (#{t('pronouns.ella.ref', hint: true)})
  td <strong>hers</strong> (#{t('pronouns.ella.adj', hint: true)})

