tr
  td <strong>they</strong> (#{t('pronouns.ellos.nom')})
  td <strong>them</strong> (#{t('pronouns.ellos.acc')})
  td <strong>them</strong> (#{t('pronouns.ellos.dat')})
  td <strong>themselves</strong> (#{t('pronouns.ellos.ref')})
  td <strong>theirs</strong> (#{t('pronouns.ellos.adj')})

