tr
  td <strong>you</strong> (#{t('pronouns.tu.nom')})
  td <strong>you</strong> (#{t('pronouns.tu.acc')})
  td <strong>you</strong> (#{t('pronouns.tu.dat')})
  td <strong>yourself</strong> (#{t('pronouns.tu.ref')})
  td <strong>your</strong> (#{t('pronouns.tu.adj')})

