tr
  td <strong>you</strong> (#{t('exercises.hints.2.pronouns.tu.nom', hint: true)})
  td <strong>you</strong> (#{t('exercises.hints.2.pronouns.tu.acc', hint: true)})
  td <strong>you</strong> (#{t('exercises.hints.2.pronouns.tu.dat', hint: true)})
  td <strong>yourself</strong> (#{t('exercises.hints.2.pronouns.tu.ref', hint: true)})
  td <strong>your</strong> (#{t('exercises.hints.2.pronouns.tu.adj', hint: true)})

