tr
  td <strong>you</strong> (#{t('pronouns.vosotros.nom')})
  td <strong>you</strong> (#{t('pronouns.vosotros.acc')})
  td <strong>you</strong> (#{t('pronouns.vosotros.dat')})
  td <strong>yourselves</strong> (#{t('pronouns.vosotros.ref')})
  td <strong>yours</strong> (#{t('pronouns.vosotros.adj')})

