tr
  td <strong>you</strong> (#{t('pronouns.vosotros.nom', hint: true)})
  td <strong>you</strong> (#{t('pronouns.vosotros.acc', hint: true)})
  td <strong>you</strong> (#{t('pronouns.vosotros.dat', hint: true)})
  td <strong>yourselves</strong> (#{t('pronouns.vosotros.ref', hint: true)})
  td <strong>yours</strong> (#{t('pronouns.vosotros.adj', hint: true)})

