tr
  td <strong>we</strong> (#{t('pronouns.nosotros.nom')})
  td <strong>us</strong> (#{t('pronouns.nosotros.acc')})
  td <strong>us</strong> (#{t('pronouns.nosotros.dat')})
  td <strong>ourselves</strong> (#{t('pronouns.nosotros.ref')})
  td <strong>ours</strong> (#{t('pronouns.nosotros.adj')})

