tr
  td <strong>we</strong> (#{t('pronouns.nosotros.nom', hint: true)})
  td <strong>us</strong> (#{t('pronouns.nosotros.acc', hint: true)})
  td <strong>us</strong> (#{t('pronouns.nosotros.dat', hint: true)})
  td <strong>ourselves</strong> (#{t('pronouns.nosotros.ref', hint: true)})
  td <strong>ours</strong> (#{t('pronouns.nosotros.adj', hint: true)})

