tr
  td <strong>you</strong> (#{t('pronouns.usted.nom')})
  td <strong>you</strong> (#{t('pronouns.usted.acc')})
  td <strong>you</strong> (#{t('pronouns.usted.dat')})
  td <strong>yourselves</strong> (#{t('pronouns.usted.ref')})
  td <strong>yours</strong> (#{t('pronouns.usted.adj')})

