tr
  td <strong>you</strong> (#{t('pronouns.usted.nom', hint: true)})
  td <strong>you</strong> (#{t('pronouns.usted.acc', hint: true)})
  td <strong>you</strong> (#{t('pronouns.usted.dat', hint: true)})
  td <strong>yourselves</strong> (#{t('pronouns.usted.ref', hint: true)})
  td <strong>yours</strong> (#{t('pronouns.usted.adj', hint: true)})

