// Omiauth buttons

a.auth {
  display: block;
  width: 32px;
  height: 32px;
  float: left;
}

a.auth.twitter { background: image_url('authbuttons/twitter_32.png') no-repeat; }
a.auth.vkontakte { background: image_url('authbuttons/vkontakte_32.png') no-repeat; }
a.auth.facebook { background: image_url('authbuttons/facebook_32.png') no-repeat; }
a.auth.google { background: image_url('authbuttons/google_32.png') no-repeat; }

.nav {
  .prompt { text-shadow:1px 1px 1px #333 }
  .language {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.8);

    &:focus,
    &:hover {
      border-bottom: 1px dashed #ffffff;
    }
    display: inline;
  }
}

#content {
  background-color: white;
}

