// Omiauth buttons

a.auth {
  display: block;
  width: 32px;
  height: 32px;
  float: left;
}

a.auth.twitter { background: image_url('authbuttons/twitter_32.png') no-repeat; }
a.auth.vkontakte { background: image_url('authbuttons/vkontakte_32.png') no-repeat; }
a.auth.facebook { background: image_url('authbuttons/facebook_32.png') no-repeat; }
a.auth.google { background: image_url('authbuttons/google_32.png') no-repeat; }

.dash-underlined {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.8);
  &:focus,
  &:hover {
    border-bottom: 1px dashed #ffffff;
  }
  display: inline;
}

.nav {
  .prompt { text-color: #333 }
}

#content {
  background-color: white;
}

/* element separation */
/* line 41, ../../../sitemplate_core/app/assets/stylesheets/sitemplate_core/gebo/style.scss */
.sepH_a {
  margin-bottom: 5px;
}

/* line 41, ../../../sitemplate_core/app/assets/stylesheets/sitemplate_core/gebo/style.scss */
.sepH_b {
  margin-bottom: 10px;
}

/* line 41, ../../../sitemplate_core/app/assets/stylesheets/sitemplate_core/gebo/style.scss */
.sepH_c {
  margin-bottom: 20px;
}

/* line 42, ../../../sitemplate_core/app/assets/stylesheets/sitemplate_core/gebo/style.scss */
.sepV_a {
  margin-right: 5px;
}

/* line 42, ../../../sitemplate_core/app/assets/stylesheets/sitemplate_core/gebo/style.scss */
.sepV_b {
  margin-right: 10px;
}

/* line 42, ../../../sitemplate_core/app/assets/stylesheets/sitemplate_core/gebo/style.scss */
.sepV_c {
  margin-right: 20px;
}

/* line 43, ../../../sitemplate_core/app/assets/stylesheets/sitemplate_core/gebo/style.scss */
.sepH_a_line {
  width: 100%;
  padding-bottom: 6px;
  margin-bottom: 18px;
  border-bottom: 1px solid #dcdcdc;
}

/* line 44, ../../../sitemplate_core/app/assets/stylesheets/sitemplate_core/gebo/style.scss */
.sepH_no {
  margin-bottom: 0;
}

/* line 46, ../../../sitemplate_core/app/assets/stylesheets/sitemplate_core/gebo/style.scss */
.tac {
  text-align: center;
}

/* line 47, ../../../sitemplate_core/app/assets/stylesheets/sitemplate_core/gebo/style.scss */
.line_sep {
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 18px;
  padding-bottom: 5px;
}

.formSep {margin-bottom:12px;padding-bottom:12px;border-bottom:1px dashed #dcdcdc}

.changed {
  border-color: $changedColor !important;
}

.help-block {
  font-size: 12px;
}

.warning {
  margin-top: 10px;
  margin-bottom: 10px;
}

span.feedback { margin-right: 30px; }

.dl-horizontal dt {
  width: 200px;
}

.centered-text {
  text-align: center;
  margin-bottom: 20px;
}

.social { margin-right: 30px; }
#yashare { margin-top: -4px; }
