@include sticky-footer($footerHeight, "#page", "#layout-footer", "#footer");

// Omiauth buttons

a.auth {
  display: block;
  width: 32px;
  height: 32px;
  float: left;
}

a.auth.twitter { background: image_url('authbuttons/twitter_32.png') no-repeat; }
a.auth.vkontakte { background: image_url('authbuttons/vkontakte_32.png') no-repeat; }
a.auth.facebook { background: image_url('authbuttons/facebook_32.png') no-repeat; }
a.auth.google { background: image_url('authbuttons/google_32.png') no-repeat; }
