p
  |<strong>Langtrainer</strong> - открытый некоммерческий проект, посвященный оригинальной системе изучения иностранных языков.
  '  Его ключевой особенностью является фокус на развитии практических навыков.
p
  'Курс состоит из основных разделов и набора дополнительных разделов, число которых будет увеличиваться.
  'Каждый из основных разделов содержит краткую справочную информацию по теме упражнения и набор конструкций для перевода.
  'Дополнительные разделы содержат усложненные конструкции и художественные произведения.
p
  'При выполнении упражнения вы видите предложение на вашем родном языке и вводите его перевод на изучаемом языке.
  'Правильность ввода контролируется программно в реальном времени: если вы допускаете ошибку, вводимый текст окрашивается красным цветом.
  'У вас есть возможность получить подсказку в виде правильного перевода следующего слова либо увидеть правильный перевод всей конструкции.
  'Целью упражнения является доведение до автоматизма навыков построения предложений на изучаемом языке.
p Также имеется возможность создания собственных предложений и упражнений в разделе "Личный кабинет"
p Упражнения для всех языков систематизированы одинаково, что дает возможность сравнения особенностей и улавливания различий.

p: strong Сайт находится в стадии развития, поэтому его автор будет благодарен за любую оказанную помощь: будь то указание на ошибки или опечатки в упражнениях, участие в разработке или информационная поддержка в социальных сетях.

