.workspace {
  width: 500px;

  .controls {
    margin-left: 100px;
    .answer {
      width: 300px;
    }
  }

  .actions, .question {
    margin-left: auto;
    margin-right: auto;
  }
  .question {
    font-size: 20px;
    font-weight: 200;
    width: 400px;
    margin-bottom: 30px;
    text-align: center;
  }
  .actions {
    width: 330px;
  }
  ul.hints {
    list-style-type: none;
    li { margin-top: 20px; }
  }
}
