.workspace {
  .controls {
    margin-left: auto;
    width: 300px;
    .answer {
      width: 300px;
    }
  }

  .actions {
    text-align: center;
    width: 100%;

    i { font-size: 1.5em }
    a {
      margin-left: 30px;
      text-decoration: none;
    }
  }
  .question {
    font-size: 20px;
    font-weight: 200;
    width: 400px;
    margin-bottom: 30px;
    text-align: center;
  }
  ul.hints {
    list-style-type: none;
    li { margin-top: 20px; }
  }
}

.hints td.column {
  width: 30%;
}

.table th,
.table td {
  vertical-align: middle;
  text-align: center;
}

.hints { margin-top: 30px; }

